main h1{
    font-size: 60px;
    background-color:#F5F5F5;
    color:black;
     text-align: center;
     font-family: sans-serif;
}

h2{
    font-size: 40px;
    font-family: "Arial";

}

